# Copy to .bazelrc.local and fill in the current deployed endpoint:
#   uv run python -m modal_rbe.url

build --remote_cache=grpcs://<URL>.w.modal.host
build --remote_executor=grpcs://<URL>.w.modal.host
build --remote_header=authorization="Bearer <TOKEN>"
